<h1 class="page-header">Train. Run. Educate.</h1>
<img src="images/baml_marathon_logo.jpg" class="img-responsive center-block img-thumbnail" alt="baml_marathon_log"/>

<p>
The Bank of America Chicago Marathon is the pinnacle of achievement
for elite athletes and everyday runners alike. Runners
from all 50 states and more than 100 countries will set out to
accomplish a personal dream by reaching the finish line in Grant
Park. This prestigious race is limited to 45,000 runners and
registration is driven by a general lottery system. However, this year, the Bank of America Chicago Marathon has reserved 35
guaranteed spots for Asha for Education's Team Asha runners. You can
secure your spot in this prestigious race and become a Team Asha
runner by filling up this registration form.
</p>
<p></p>
<p style="padding-top: 30px;"><a class="btn btn-lg btn-danger center-block" href="https://docs.google.com/forms/d/17oW94EoWQHOYlawoaLx8rR2JOnvEnUTLT_lXjnPwVwI/viewform" role="button">Join us Now!</a></p>

<h1 class="sub-header" style="padding: 10px 0px 10px 0px;">Run for Education</h1>
<p>
All Team Asha runners participating in the Bank of America Chicago
Marathon will be committed to raise at least $1000. These funds help
support education initiatives for underprivileged children in
India. To date, over 99% of our runners
have successfully met their fundraising target and have even exceeded
it in some cases.
</p>
