       <div class="container marketing">
        <div class="col-sm-7 col-sm-offset-3 col-md-7 col-md-offset-3 main">
          {% include 'intro.html' %}
          <div class="row placeholders" style="padding-top: 50px;">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{{fundraiser_1_url}}" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>{{fundraiser_1}}</h4>
              <span class="text-muted">{{fundraiser_1_amount}}</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{{fundraiser_2_url}}" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>{{fundraiser_2}}</h4>
              <span class="text-muted">{{fundraiser_2_amount}}</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{{fundraiser_3_url}}" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>{{fundraiser_3}}</h4>
              <span class="text-muted">{{fundraiser_3_amount}}</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{{fundraiser_4_url}}" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>{{fundraiser_4}}</h4>
              <span class="text-muted">{{fundraiser_4_amount}}</span>
            </div>
          </div>


          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>Name</th>
                  <th>Fund raised</th>
                  <th>Backers</th>
                </tr>
              </thead>
              <tbody>
              {% for first_name, last_name, donors_count, total_amount in runners_data_list %}
                  <tr>
                      <td><a href="#"><img src="users/{{ first_name }}{{ last_name }}/profile.jpg" height=35 width=35/></a></td>
                      <td><a href="users/{{ first_name }}{{ last_name }}/profile.html">{{ first_name }} {{ last_name }}</a></td>
                      <td>{{total_amount}}</td>
                      <td>{{donors_count}}</td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
            {% include 'whyasha.html' %}
        </div>
  </div><!-- /.container -->
