       <div class="container marketing">
        <div class="col-sm-7 col-sm-offset-3 col-md-7 col-md-offset-3 main">
          {% include 'intro.html' %}
          <div class="row placeholders" style="padding-top: 50px;">
            {% for first_name, last_name, donors_count, total_amount in top_runners_data_list %}
               <div class="col-xs-6 col-sm-3 placeholder">
                <img src="users/{{ first_name }}{{ last_name }}/profile.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>{{ first_name }} {{ last_name }}</h4>
                <span class="text-muted">{{total_amount}}</span>
               </div>
            {% endfor %}
          </div>


          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>Name</th>
                  <th>Fund raised</th>
                  <th>Backers</th>
                </tr>
              </thead>
              <tbody>
              {% for first_name, last_name, donors_count, total_amount in runners_data_list %}
                  <tr>
                      <td><a href="#"><img src="users/{{ first_name }}{{ last_name }}/profile.jpg" height=35 width=35/></a></td>
                      <td><a href="users/{{ first_name }}{{ last_name }}/profile.html">{{ first_name }} {{ last_name }}</a></td>
                      <td>{{total_amount}}</td>
                      <td>{{donors_count}}</td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
            {% include 'whyasha.html' %}
        </div>
  </div><!-- /.container -->
