<h1 class="page-header" style="padding-top: 50px;">Why run for Asha?</h1>
<p>
Asha for Education's mission is to catalyze a socio-economic change in
India by educating underprivileged children. In the last 24
years, Asha for Education has helped shape more than 50,000 lives
through 400+ educational projects across India.
</p>

<img src="http://2.bp.blogspot.com/-_V9R9O0UZmo/Uy5-iJB7xlI/AAAAAAAAGHI/jsbjE1E4PIs/s1600/pratirodh-feature-1.png" class="img-responsive center-block img-thumbnail" alt="" />
<p>

<ul>
    <li>To provide education to underprivileged children in India.</li>
<li>To support and cooperate with persons and groups already engaged in similar activities.</li>
<li>To raise the required human and other resources to achieve the group objectives.</li>
<li>To provide opportunities to individuals living outside India who wish to participate in Asha activities in India.</li>
<li>To address, whenever possible, other issues affecting human life such as health care, environment, socio-economic aspects and women's issues.</li>
</ul>
</p>
<p>

<h1 class="page-header" style="padding-top: 50px;">A bit about Asha</h1>
Charity Navigator has awarded Asha for Education 4-star (highest rating) charity status
<div style="padding-top: 30px;">
<img src="images/CN_rating.png" class="img-responsive center-block img-thumbnail" alt="" />
</div>
<p style="padding-top: 30px;">
Asha for Education recently won the prestigious Times of India Social Impact Award 2015
Asha for Education received the "Best Indian NGO in the US" award from Indo-American Chamber of Commerce (IACC) in 2013
</p>
<div style="padding-top: 30px;">
<img src="http://www.ashanet.org/images/IACC-2013-award.jpg" class="img-responsive center-block img-thumbnail" alt="" />
</div>

<h1 class="page-header" style="padding-top: 30px;">What more do you get?</h1>
<ul>
   <li>Info sessions throughout the training period (nutrition, hydration, equipment, training, etc.)</li>
    <li>Mentors to guide through the training and fundraising process</li>
    <li>Personal fundraising page to help meet minimum fundraising goal of $1,000</li>
    <li>Happy hours and team get-together with fellow runners and Asha members</li>
    <li>Team Asha running t-shirt to wear during the race</li>
    <li>Pre-race dinner party</li>
</ul>

<p>
    Last deadline for registration is April 28, 2015
</p>
<p>
    Asha for Education is a 501(c)(3) tax exempt non-profit organization so all donations via the Team Asha running
    program are also tax exempt
</p>