<h1 class="page-header" style="padding-top: 50px;">Why run for Asha?</h1>
<p>
Asha for Education's mission is to catalyze a socio-economic change in
India by educating underprivileged children. In the last 24
years, Asha for Education has helped shape more than 50,000 lives
through 400+ educational projects across India. By running the marathon for Asha
you are helping us take that message to the world and your efforts will
directly help to kindle curiosity and bravery in the minds of a number of young Indians.

</p>

<h1 class="page-header" style="padding-top: 50px;">How does your fundraising help?</h1>
<img src="http://2.bp.blogspot.com/-_V9R9O0UZmo/Uy5-iJB7xlI/AAAAAAAAGHI/jsbjE1E4PIs/s1600/pratirodh-feature-1.png" class="img-responsive center-block img-thumbnail" alt="" />
<p>
<p>
A sum of 300 USD will help one child for a year to do the following things:
<ul>
<li>Buy books, pencils, crayons, educational toys</li>
<li>Buy school uniform</li>
<li>Buy food supplies for the child in residential centers</li>
<li>Enable the child attend personality development workshops</li>
<li>Enable the child to participate in educational field-trips for hands on learning</li>
</ul>
</p>
</p>
<p>

<h1 class="page-header" style="padding-top: 50px;">A bit about Asha</h1>
Charity Navigator has awarded Asha for Education 4-star (highest rating) charity status
<div style="padding-top: 30px;">
<img src="images/CN_rating.png" class="img-responsive center-block img-thumbnail" alt="" />
</div>
<p style="padding-top: 30px;">
Asha for Education recently won the prestigious Times of India Social Impact Award 2015.
We received the "Best Indian NGO in the US" award from Indo-American Chamber of Commerce (IACC) in 2013
</p>
<div style="padding-top: 30px;">
<img src="http://www.ashanet.org/images/IACC-2013-award.jpg" class="img-responsive center-block img-thumbnail" alt="" />
</div>

<h1 class="page-header" style="padding-top: 30px;">How can Asha help you?</h1>
Asha is a world wide community of motivated individuals who are dedicated to helping others.
We have a number of veteran runners, who have ran in previous marathons for Asha since 2011. We will help you by

<ul>
   <li>Info sessions throughout the training period (nutrition, hydration, equipment, training, etc.)</li>
    <li>Mentors to guide through the training and fundraising process</li>
    <li>Happy hours and team get-together with fellow runners and Asha members</li>
    <li>Team Asha running t-shirt to wear during the race</li>
    <li>Pre-race dinner party</li>
</ul>

<p>
    Last deadline for registration is April 21, 2015
</p>
<p>
    Asha for Education is a 501(c)(3) tax exempt non-profit organization so all donations via the Team Asha running
    program are also tax exempt.
</p>